#container {
    position: relative;
    height: 90vh;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 186px);

}

.header {
    z-index: 10;
    position: sticky;
    padding-bottom: 20px;
    top: 0;

}

.content {
    min-height: calc(100vh - 345px);
}

.footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    color: #fff;
    z-index: 10;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: left;
    padding-left: 0;
    justify-content: left;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: auto;
    height: -40px;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding-top: 10px;

}